@font-face {
    font-family: 'TT Lakes';
    font-weight: normal;
    font-style: normal;
    src: url(TTLakes/TTLakes-Regular.ttf);
}
@font-face {
    font-family: 'TT Lakes';
    font-weight: medium;
    font-style: medium;
    src: url(TTLakes/TTLakes-Medium.ttf);
}
@font-face {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-style: normal;
    src: url(TTLakes/TTLakes-Bold.ttf);
}
* {margin: 0;}
body {
    font-family: 'TT Lakes';
    font-weight: normal;
    background-color: #F8F8F8;
    max-width: 1200px;
    margin: 0 auto;
}
.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height:100%;
    position: fixed;
    overflow: auto;
    left: 0;
    box-shadow:16px 0px 52px rgba(14, 24, 80, 0.2);
    background-color: #ffffff;
}
.side-menu::-webkit-scrollbar {
    display: none;
}
.logo {
    width: 100px;
    height: 53px;
}
.button {
    display: block;
    width: 44px;
    height: 44px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button:hover {
    transition: 0.2s;
    opacity: 0.8;
}
.button__image {
    width: 100%;
}
.border {
    border: 1px solid black;
}
/* side-header */
.side-header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 18px;
}
.side-menu_button {
    margin-left: 16px;
}
.side-menu_logo {
    margin-left: 16px;
}
.side-menu_button:last-child {
    margin-left: auto;
    margin-right: 16px;
}
#closer {
    background:#FF3E79 url(icons/closer.svg) no-repeat center center;
}
#searching {
    background:#FF3E79 url(icons/search.svg) no-repeat center center;
}
/* nav-list */

.navigation-list {
    margin-bottom: auto;
    margin-top: 20px;
}
.side-menu_nav-item {
    list-style: none;
    margin-bottom: 24px;
    margin-left: 24px;
    left: 20px;
}
.nav-item_link::before {
    content:'';
    position: absolute;
    left: -5px;
    height: 1.25em;
    border: 3px solid #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-item_link:hover::before, .nav-item_link:focus::before {
    left: 0;
    transition: 0.3s;
}
.nav-item_link {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav-item_link:hover, .nav-item_link:focus {
    color: #7E7E82;
    transition: 0.2s;
}

/* btn-actions */
.buttons-action {
    display: flex;
    margin-bottom: 16px;
}
.buttons-action_button {
    margin-left: 16px;
}
#call {
    background:#FF3E79 url(icons/call.svg) no-repeat center center;
}
#chat {
    background:#FF3E79 url(icons/chat.svg) no-repeat center center;
}
#profile {
    background:#FF3E79 url(icons/profile.svg) no-repeat center center;
}
  /* phone & mail */
.phone-and-mail {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin-left: 16px;
    margin-bottom: 8px;
    text-decoration: none;
}
.phone-and-mail::before {
    content: attr(data-mail);
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: normal;
}

/* lang-switch */
.lang-switch {
    margin-bottom: 32px;
    margin-left: 15px;
}
.lang-btn {
    border: none;
    cursor: pointer;
    background-color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'TT Lakes';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.lang-btn:hover {
    color: #7E7E82;
    transition: 0.2s;
}
input {
    position: absolute;
    opacity: 0;
}

